body {
  background-color: #12121c;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #b084f5;
}

input, button {
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #6c5ce7;
}

button {
  background-color: #6c5ce7;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5a4fcf;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #1e1e2f;
  margin: 8px auto;
  padding: 8px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

li span {
  flex: 1;
  word-wrap: break-word;
}

li button {
  margin-left: 0px;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}
